{% extends "index.html" %}
{% block contenido %}
{% load static %} 
{% load static %}
<head>
  

  <img src="{% static "imagenes/logopros.png" %}" alt="playa">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="style.css"> 
</head>

 


<div class="app-title">
  <div>
    <h1><i class="fa fa-th-list"></i> Lista de Productos de Prolimpica</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb side">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">Productos</li>
    <li class="breadcrumb-item active"><a href="{% url 'crear_producto' %}">Nuevo Producto</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <table class="table table-hover table-bordered" id="sampleTable">
          <thead>
            <tr>
              <th>id</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Marca</th>
              <th>Fecha Caducidad</th>
            
            </tr>
          </thead>
          <tbody>
            {% for producto in listatipoproduct %}
              <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombres}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.marca}}</td>
                <td>{{producto.fechaCaducidad}}</td>
                
               
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


    
{% endblock %}